@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');


:root {
    --clr-text: #000000;
    --clr-primary: #8b0f18;
    --clr-acent: #E5E7EA;
    
    --ff-banner: Licorice, sans-serif;
    --ff-title: Lato, sans-serif;
    --ff-logo: Lato, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    color: var(--clr-text);
    font-size: 1rem;
}

body {
    margin: 0;
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
}

section {
    padding: 0.5em 0.75em;
}


/* Typography */

h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-family: var(--ff-logo);
    letter-spacing: 2px;
}

h2 {
    font-family: var(--ff-banner);
    font-size: 2.5rem;
    line-height: 1.2;
    letter-spacing: 2px;
}

h3 {
    font-family: var(--ff-title);
    color: var(--clr-primary);
    line-height: 0.8;
}

p {
    margin-top: 0.85em;
    margin-bottom: 0.85em;
}

.logo {
    font-family: var(--ff-logo);
    font-weight: bolder;
    text-align: center;
}

.logo a {
    text-decoration: none;
    color: var(--clr-primary);
}

header {
    padding: 0.5em 0;
    position: fixed;
    background-color: white;
    width: 100%;
    text-align: center;
}

/* navigation */

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

nav a {
    display: inline-block;
    padding: .5em;
    text-decoration: none;
    color: var(--clr-primary);
}

nav a:hover,
nav a:focus {
    color: var(--clr-text);
    text-decoration: underline;
}

.red-banner {
    background-color: var(--clr-primary);
    text-align: center;
    color: var(--clr-acent);
    padding: 5vh 1em;
}

.title {
    display: block;
    padding: 0.75em 1.5em;
    line-height: 1em;
}

/* form */

form {
    color: var(--clr-acent);
    padding: 0.5em;
    margin: 0.75em auto;
    background-color: var(--clr-primary);
}

/* subscribe button */
#s-button {
    background-color: var(--clr-acent);
    text-align: center;
    color: var(--clr-primary);
    border-radius: 0.25em;
    padding: 2%;
}

/* footer */

footer {
    background-color: var(--clr-primary);
    color: var(--clr-acent);
    width: 100%;
    padding: 1em;
    text-align: center;
}

.social-media {
    text-align: center;
    list-style-type: none;
}

.social-media > li {
    display: inline;

}

.social-media i {
    font-size: 150%;
    margin: 1%;
    padding: 1%;
    color: var(--clr-acent);
}

footer > p {
    color: var(--clr-acent);
    text-align: center;
}

footer h2 {
    padding: 0;
}

.copyright {
    color: var(--clr-acent);
}

/*Media queries for bigger screens */


/* my original code
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color:black;
}

/* header 

nav {
    /*width: 1253px;
    height: 75px;
    width: auto;
    min-height: 75px;
    border: 2px solid black;
    padding: 10px;
    background-color: #ffffff;
}

/* headings and logo 

h1, h3 {
    font-family: Lato, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #8b0f18;
}

#logo {
    float: left;
    margin-left: 40px;
    font-weight: bold;
    font-size: 280%;
}

/* navigation links 

#menu {
    font-size:110%;
    letter-spacing: 2px;
    float: right;
    margin-right: 40px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #8b0f18;
    color: #8b0f18;
}

.active {
    border-bottom: 1px solid #8b0f18;
    color: #8b0f18;
}


/* hero image 

#hero-image {
    height: 100vh;
    background-image: url('../images/hero-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* headline banner 

#headline-banner {
    background-color: #8b0f18;
    width: 100%;
    height: 150px;
    text-align: center;
}


h2 {
    color: #E5E7EA;
    background-color: #8b0f18;
    font-family: Licorice, sans-serif;
    font-weight: bold;
    font-size: 280%;
    letter-spacing: 4px;

    padding-left: 10%;
    padding-top: 2.5%;
    padding-right: 10%;
    padding-bottom: 2.5%;
}

/* red banners 

.red-banner {
    background-color: #8b0f18;
    width: 100%;
    height: auto;
    text-align:center;
    background-size: cover;
}

/* our story 

.left-story {
    text-align: left;
    padding: 30px;
    margin: 5%; 
}

.left-story > p{
    padding-top: 20px;
    padding-bottom: 20px;
}

#video {
    text-align: center;
    padding: 20px;
    margin: 2.5%;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 560px;
}

#book {
    text-align: center;
    padding: 20px;
    margin: 2.5%;
}


#legs-image {
    height: 100vh;
    background-image: url('../images/legs-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* gallery 

.flex-container {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;

}
  
.flex-container > div {
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.square-pic {
    width: 75%;
    height: auto;
}

/* form 

form {
    color:#ffffff;
    width: 560px;
    padding: 25px;
    margin: 25px auto;
    background-color: #8b0f18;
}

legend {
    text-align: center;
    padding: 5%;
    font-size: larger;
    font-weight: bold;
}

label {
    margin: 10px 15px 10px 15px;
}

input[type=text], 
input[type=email] {
    height: 30px;
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
	margin: 2px auto;
}

input[type=submit] {
    background-color: white;
    border: none;
    color: #8b0f18;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    font-size: medium;
  }

/* subscribe button
#s-button {
    text-align: center;
    padding: 2%;
}

.center {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right:2%;
}

/* contact 

#contact p {
    text-align: center;
    padding-top: 0%;
    padding-bottom: 10%;
    padding-left: 2%;
    padding-right:2%;
}

.bold {
    font-weight: bold;
}

/* footer 

footer {
    background-color: #8b0f18;
    width: 100%;
    padding: 1em;
    text-align: center;
}

.social-media {
    text-align: center;
    list-style-type: none;
}

.social-media > li {
    display: inline;

}

.social-media i {
    font-size: 150%;
    margin: 1%;
    padding: 1%;
    color: #E5E7EA;
}

footer > p {
    color: #E5E7EA;
    text-align: center;
}

footer h2 {
    padding: 0;
}

/* Media queries 

/* For larger to medium screen sizes from 1200px wide and smaller 
@media screen and (max-width: 1200px) {
    #our-story {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-story {
        width: 100%;
        float: left;
        padding: 0;
    }

    #video {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #book {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #come-along {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

}

/* For medium screen sizes from 950px wide and smaller 
@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #our-story {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-story {
        width: inherit;
    }

    #video {
        width: inherit;
    }

    #book {
        width: inherit;
    }

    h3 {
        width: 100%;
        text-align: center;
    }

    .left-story p {
        text-align: center;
        padding: 0 20px;
    }

    #come-along {
        text-align: center;
        padding: 0 20px;
    }

    .red-banner {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

} */
