@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');


:root {
    --clr-text: #000000;
    --clr-primary: #8b0f18;
    --clr-acent: #E5E7EA;
    
    --ff-banner: Licorice, sans-serif;
    --ff-title: Lato, sans-serif;
    --ff-logo: Lato, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    color: var(--clr-text);
    font-size: 1rem;
}

body {
    margin: 0;
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
}

section {
    padding: 0.5em 0.75em;
}


/* Typography */

h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-family: var(--ff-logo);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bolder;
}

h2 {
    font-family: var(--ff-banner);
    font-size: 2.5rem;
    line-height: 1.2;
    letter-spacing: 2px;
}

h3 {
    font-family: var(--ff-title);
    color: var(--clr-primary);
    line-height: 0.8;
}

p {
    margin-top: 0.85em;
    margin-bottom: 0.85em;
}


/* logo */

.logo {
    font-family: var(--ff-logo);
    font-weight: bolder;
    text-align: center;
}

.logo a {
    text-decoration: none;
    color: var(--clr-primary);
}

header {
    padding: 0.5em 0;
    position: fixed;
    background-color: white;
    width: 100%;
    text-align: center;
}

/* navigation */

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

nav a {
    display: inline-block;
    padding: .5em;
    text-decoration: none;
    color: var(--clr-primary);
}

nav a:hover,
nav a:focus {
    color: var(--clr-text);
    text-decoration: underline;
}

.red-banner {
    background-color: var(--clr-primary);
    text-align: center;
    color: var(--clr-acent);
    padding: 5vh 1em;
}

.title {
    display: block;
    padding: 0.75em 1.5em;
    line-height: 1em;
}

/* video - this code copied from 
Embed a YouTube Video in HTML 
and Make it Responsive (CSS included) 
- video tutorial by Tipswithpunch, 
link in readme
*/

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/* form */

form {
    max-width: 85%;
    color: var(--clr-acent);
    padding: 0.5em;
    margin: 0.75em auto;
    background-color: var(--clr-primary);
}

.upper-case {
    text-transform: uppercase;
}

.form__group {
    border: solid 1px var(--clr-acent);
    border-radius: 0.25em;
    margin-bottom: 10px;
    background-color: white;
}

/* my mentor inspired me with the styling of form input */

.form__input {
    display: block;
    width: 80%;
    padding: 20px;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    background-color: white;
    font-family: Lato, sans-serif;;
    letter-spacing: 1px;
}


/* placeholder - code copied from W3Schools and amended, 
see link in readme */

::placeholder {
    color: var(--clr-primary);
    opacity: 1; /* Chrome, Firefox, Opera, Safari 10.1+ */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: var(--clr-primary);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: var(--clr-primary);
  }


.form__input:last-of-type {
    margin-bottom: 1em;
}

/* subscribe button */

.s-btn {
    background-color: var(--clr-acent);
    text-align: center;
    color: var(--clr-primary);
    border: none;
    border-radius: 0.25em;
    padding: 2%;
}

.sbtn-btn {
    background-color: var(--clr-acent);
    border: none;
    color: var(--clr-primary);
    font-family: Lato, sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 0.25em;
    padding: 2%;
}

.s-btn:hover {
    background-color: var(--clr-primary);
    text-align: center;
    color: var(--clr-acent);
    border: none;
    border-radius: 0.25em;
    padding: 2%;
}

/* footer */

footer {
    background-color: var(--clr-primary);
    color: var(--clr-acent);
    width: 100%;
    padding: 5vh 1em;
    text-align: center;
}

.social-media {
    text-align: center;
    list-style-type: none;
    padding: 0px;
}

.social-media > li {
    display: inline;

}

.social-media i {
    font-size: 150%;
    margin: 1%;
    padding: 1%;
    color: var(--clr-acent);
}

footer > p {
    color: var(--clr-acent);
    text-align: center;
}

footer h2 {
    padding: 0;
}

.copyright {
    color: var(--clr-acent);
}


/*Media queries for bigger screens */

@media only screen and (min-width: 750px) {
    /* hero image */
    .hero-image {
        height: 100vh;
        background-image: url('../images/hero-image.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .hero-image img {
        display: none;
    }

     /* book image */
     .book-image {
        height: 100vh;
        background-image: url('../images/book-image.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .book-image img {
        display: none;
    }

    /* gallery */
    .gallery {
        background-color: var(--clr-acent);
    }
    .flex-container {
        display: flex;
        flex-direction: row;
        background-color: var(--clr-acent);
        justify-content: center;
        align-items: center;
        margin-bottom: 1em;
    }
      
    .flex-container > div {
        background-color: var(--clr-acent);
        margin: 10px;
        padding: 20px;
        font-size: 30px;
        text-align: center;
        
    }
    
    .square-pic {
        width: 100%;
        height: auto;
        
    }

    .legs-image {
        height: 100vh;
        background-image: url('../images/legs-image.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .legs-image img {
        display: none;
    }

    /* form */
    
    form {
        max-width: 50%;
    }

}

