@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color:black;
}

/* headings and logo */

h1, h3 {
    font-family: Lato, sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: red;
}

#logo {
    float: left;
    font-weight: bold;
    font-size: 280%;
}